:root {
    --primary-color: #3b6d3f; /* Deep Green */
    --secondary-color: #6fbe9d; /* Vibrant Green */
    --accent-color: #a9e5c9; /* Soft Green */
    --light-color: #d4f2e7; /* Pastel Background */
    --background-color: #f3f9f1; /* Soft White */
    --text-color: #2c3e50; /* Deep Grey-Blue */
    --button-hover: #29572c; /* Darker Green */
    --shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    --border-radius: 10px;
}

.login-container {
    background: var(--light-color);
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    text-align: center;
    width: 360px;
    margin-top: 80px;
}

.login-container img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.login-container h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
    font-size: 26px;
}

.login-container form {
    max-width: 350px; 
    margin: 0 auto;
}

.success-message {
    color: 'green';
    marginTop: '15px';
    textAlign: 'center';
}

.error-message {
    color: 'red';
    marginTop: '15px';
    textAlign: 'center';
}

.forgot-password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.9em;
  }

  .forgot-password-row link {
    text-decoration: none;
  }

  .login-container button {
    width: 100%;
  }

  .register {
    margin-top: 20px;
    font-size: 0.9em;
    color: var(--text-color);
  }
  .register link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
  }

  .forgot-password-row a,
  .register-row a {
    color: var(--secondary-color); /* Use the secondary color variable */
    text-decoration: none; /* Optional: remove the default underline */
    transition: color 0.2s ease; /* Optional: smooth transition for hover */
    font-weight: bold;
  }

  .forgot-password-row a:hover,
.register-row a:hover {
  color: var(--primary-color); /* Optional: Change to primary color on hover */
  text-decoration: underline; /* Optional: Add underline back on hover */
  font-weight: bold;
}
