:root {
    --primary-color: #3b6d3f; /* Deep Green */
    --secondary-color: #6fbe9d; /* Vibrant Green */
    --accent-color: #a9e5c9; /* Soft Green */
    --light-color: #d4f2e7; /* Pastel Background */
    --background-color: #f3f9f1; /* Soft White */
    --text-color: #2c3e50; /* Deep Grey-Blue */
    --button-hover: #29572c; /* Darker Green */
    --button-hover-delete: rgb(116, 0, 0); /* Dark Red for delete button */
    --shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    --border-radius: 10px;
}

/* Stocks */
.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stock-table th, .stock-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.stock-table th {
    background-color: var(--secondary-color);
    color: white;
}

/* Stock Actions */
.stock-actions {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px auto;
    width: 100%;
    max-width: 900px;
    align-items: stretch;
}

.stock-section {
    text-align: center;
    width: 45%;
}

.stock-section form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}

.stock-section input {
    width: 45%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    font-size: 16px;
    margin: 0;
}

.delete-button {
    background-color: var(--button-hover);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
}
.delete-button:hover {
    background-color: var(--button-hover-delete); /* Darker red on hover */
}